<h1>Update Ticket </h1><br><br>
<h2>Search Ticket</h2><br><br>
<form>
Enter Ticket Id:<input type="text" name="ticketId" [(ngModel)]="ticketID"><br><br>
<button (click)="searchTicket()">search Ticket</button><br><br>
</form>
<br><br>
<b style="font-size: larger;">{{message}}</b>

<div *ngIf="searchTickt">
<form>
 Ticket Id:{{ticket.ticket_id}}<br><br>

 Type Of Problem:{{ticket.typeOfProblem}}&nbsp;<select name="problem" [(ngModel)]="ticket1.typeOfProblem">
                                               <option value="cannot make a call but recieve a call">Cannot make a call But recieve a call</option>
                                               <option value="can make calls ,but cannot recieve calls">Can make calls, but cannot recieve calls</option>
                                               <option value="Neither make or recieve calls">Neither make or recieve calls</option>
                                          </select>
<br><br>
Details:{{ticket.details}}&nbsp;<input type="text" name="details" [(ngModel)]="ticket1.details">
<br><br>
Full Name:{{ticket.fullname}}&nbsp;<input type="text" name="fullname" [(ngModel)]="ticket1.fullname">
<br><br>
Address:{{ticket.address}}&nbsp;<input type="text" name="address" [(ngModel)]="ticket1.address">
<br><br>
Pin Code:{{ticket.pincode}}&nbsp;<input type="text" name="pincode" [(ngModel)]="ticket1.pincode"><br><br>
Phone No.: {{ticket.phoneNo}}&nbsp;<input type="text" name="phone" [(ngModel)]="ticket1.pincode"><br><br>
<button (click)="updateTicket()">Update Ticket</button>
</form>
<br><br>
<b style="font-size: larger;">{{message2}}</b>
<br><br>
<button (click)="bktocustpage()">Go Back to Customer Dashboard</button>
</div>