<h1 align="center">Welcome to admin dashboard {{this.service.user.username}}</h1>
<br><br>
<button (click)="createUser()">Create User</button>
<br><br>

<!--<button (click)="updateUser()">Update User</button>
<br><br>-->

<button style="width: 25%;font-size:16px;" (click)="gotoCustDashboard()">Go To Customer Dashboard</button>
<br><br>

<button style="width: 25%; font-size: 16px;" (click)="gotoManDashboard()">Go to Manager Dashboard</button>
<br><br>

<button style="width: 250px; font-size:16px;" (click)="gotoEngrDashboard()">Go To Engineer Dashboard</button>
<br><br>

<button (click)="assignPincodesToMan()">Assign Pin Codes To Manager</button>
<br><br>


